:root {
  font-family: 'Inter', -apple-system, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--White);
  box-sizing: border-box;
  color: var(--txtDark);
}